<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="NeoIntegrationSample.CrossDomainService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5555/"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="NeoIntegrationSample.ICrossDomain"
                  behaviorConfiguration="HttpEnableBehavior" />
      </service>
      <service name="NeoIntegrationSample.BiometricsService"
               behaviorConfiguration="metadataSupport">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5555/BiometricsService"/>
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" 
                  contract="NeoIntegrationSample.IBiometricsService"/>
        <endpoint address="mex" 
                  binding="mexHttpBinding" 
                  contract="IMetadataExchange"/>
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="HttpEnableBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="metadataSupport">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>