<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SetFirstTimeLogon.Properties.Settings.MySqlIdsConnectionString"
            connectionString="server=localhost;user id=root;password=pa$$w0rd;persist security info=True;database=identitystream;pooling=False" />
    </connectionStrings>
</configuration>