<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NHibernateTraining.Tests.Properties.Settings.NHibernateTrainingConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=NHibernateTraining;Persist Security Info=True;User ID=WickedSick;Password=pa$$w0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>