<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
      <bindings>
        <wsHttpBinding>
          <binding name="twoWaySslBinding" maxReceivedMessageSize="2147483647">
            <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
            <security mode="TransportWithMessageCredential">
              <transport realm="" />
              <message clientCredentialType="Certificate" establishSecurityContext="false" />
            </security>
          </binding>
          <binding name="customUsernameBinding" maxReceivedMessageSize="2147483647">
            <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
            <security mode="TransportWithMessageCredential">
              <transport realm="" />
              <message clientCredentialType="UserName" />
            </security>
          </binding>
        </wsHttpBinding>
      </bindings>
      <client>
        <endpoint address="https://localhost/FantasyService/service.svc" behaviorConfiguration="clientCertConfig"
          binding="wsHttpBinding" bindingConfiguration="twoWaySslBinding"
          contract="FantasyService.IFantasyService" name="WSHttpBinding_IFantasyService" />
      </client>
      <behaviors>
        <endpointBehaviors>
          <behavior name="clientCertConfig">
            <clientCredentials>
              <!--
              <clientCertificate findValue="b350e6347f9f0bd1b462f358b24ee7bb351694f7" storeLocation="LocalMachine" x509FindType="FindByThumbprint" />
            -->
              <clientCertificate findValue="aee141a0e5274bae09019f87ed94b28716d6024a" storeLocation="LocalMachine" x509FindType="FindByThumbprint"/>
              <!--
              <clientCertificate findValue="a0a42eaba35a752c5484d6379df688e0d3107480" storeLocation="LocalMachine" x509FindType="FindByThumbprint"/>
            -->
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>

    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
