<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <log4net>
    <!-- Appender for writing to log file -->
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file value="LoadLotsOfData.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
      <threshold value="DEBUG" />
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender" >
      <mapping>
        <level value="ERROR"/>
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Green" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="White" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %m%n" />
      </layout>
    </appender>
    <!-- Set the default logging to ALL, then let each appender filter the logging. 
		   This is the only way using Log4Net to have different appenders log at different levels -->
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="MySqlIdsConnectionString" connectionString="server=localhost;user id=root;password=pa$$w0rd;database=identitystream;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SecurityProvider" value="DES" />

    <add key="AuthenticationTemplateRepository" value="IdentityStream.DataAccess.MySql.AuthenticationTemplateRepository, IdentityStream.DataAccess.MySql"/>
    <add key="EnrollmentRepository" value="IdentityStream.DataAccess.MySql.EnrollmentRepository, IdentityStream.DataAccess.MySql"/>
    <add key="IdentityRepository" value="IdentityStream.DataAccess.MySql.IdentityRepository, IdentityStream.DataAccess.MySql"/>
    <add key="LoginRepository" value="IdentityStream.DataAccess.MySql.LoginRepository, IdentityStream.DataAccess.MySql"/>
  </appSettings>
</configuration>