<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="WcfRoleBasedSecurity.FantasyService" behaviorConfiguration="clientCertificateBehavior">
        <endpoint address="" binding="wsHttpBinding" contract="WcfRoleBasedSecurity.IFantasyService" bindingConfiguration="twoWaySslBinding"></endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <bindings>
      <wsHttpBinding>
        <binding name="customUsernameBinding"
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="twoWaySslBinding"
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>

        <behavior name="customUsernameBehavior">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentSessions="100" />
          <serviceAuthorization>
            <authorizationPolicies>
              <add policyType="WcfRoleBasedSecurity.BioAuthorizationPolicy, WcfRoleBasedSecurity"/>
            </authorizationPolicies>
          </serviceAuthorization>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="WcfRoleBasedSecurity.BioUsernamePasswordVerifier, WcfRoleBasedSecurity" />
          </serviceCredentials>
        </behavior>

        <behavior name="clientCertificateBehavior">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentSessions="100" />
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="WcfRoleBasedSecurity.BioAuthorizationManager, WcfRoleBasedSecurity">
            <authorizationPolicies>
              <add policyType="WcfRoleBasedSecurity.BioAuthorizationPolicy, WcfRoleBasedSecurity"/>
            </authorizationPolicies>
          </serviceAuthorization>
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="PeerOrChainTrust"
                trustedStoreLocation="LocalMachine" />
            </clientCertificate>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="WcfRoleBasedSecurity.BioUsernamePasswordVerifier, WcfRoleBasedSecurity" />
          </serviceCredentials>
        </behavior>

      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
