<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IdentityStream.BioAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IdentityStream.BioAPI.Properties.Settings>
            <setting name="MinimumMinutiaCount" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="LicenseServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="LicensePort" serializeAs="String">
                <value>5000</value>
            </setting>
        </IdentityStream.BioAPI.Properties.Settings>
    </applicationSettings>
</configuration>